# For a more comprehensive set of ignores,
# try using https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Visual Studio cache/options directory
.vs/

# Build results
bin/
obj/

# External Libraries
*.dll
